<% layout( 'layout' ) -%>

<h1 id="page-title"><%= title %></h1>
<div id="list">
  <form action="/create" method="post" accept-charset="utf-8">
    <div class="item-new">
      <input class="input" type="text" name="content" />
    </div>
  </form>

<% features.forEach( function ( feature ){ %>
  <% if( feature._id == current ){ %>
  <div class="item-new">
  <% }else{ %>
  <div class="item">
  <% } %>

    <% if( feature._id == current ){ %>
    <form class="update-form" action="/update/<%= feature._id %>" method="post" accept-charset="utf-8">
      <input class="update-input" type="text" name="content" value="<%= feature.content %>" />
    </form>
    <% }else{ %>
    <a class="update-link" href="/edit/<%= feature._id %>" title="Update this feature item"><%= feature.content %></a>
    <% } %>

    <% if( feature._id == current ){ %>
    <a class="del-btn-edit" href="/destroy/<%= feature._id %>" title="Delete this feature item">Delete</a>
    <% }else{ %>
    <a class="del-btn" href="/destroy/<%= feature._id %>" title="Delete this feature item">Delete</a>
    <% } %>
  </div>
<% }); %>
</div>
