extends layout

block body
  h1#page-title #{title}
  div.u-1.form-box
      div.l-box
        form.pure-form-pure-form-stacked(action="/create" method="post" accept-charset="utf-8")
          fieldset
            input(type="text" name="content" placeholder="Description")
            select(name="category")
              option(value="") Pick a Category
              option(value="General") General
              option(value="Forms") Forms
              option(value="Reports") Reports
              option(value="Themes") Themes
              option(value="Other") Other
          button.pure-button.pure-button-primary(type='submit') Add a feature
  div.pure-g
    div.u-1-5
      h4.category General
      -var counter = 0;
      for feature in features
        -console.log(i)
        if feature.category == "General" && (counter < 6)
          -counter +=1;
          div.item
            a.vote-link(href="/upvote/#{feature._id}" title="Vote for this feature") #{feature.votes}
            a.update-link(href="/edit/#{feature._id}" title="Update this feature") #{feature.content}
            a.vote-btn(href="/upvote/#{feature._id}" title="Vote for this feature")
    div.u-1-5
      h4.category Forms
      -var counter = 0;
      for feature in features
        -console.log(j+" : "+feature)
        if feature.category == "Forms" && (couner < 6) 
          -counter +=1;
          div.item
            a.vote-link(href="/upvote/#{feature._id}" title="Vote for this feature") #{feature.votes}
            a.update-link(href="/edit/#{feature._id}" title="Update this feature") #{feature.content}
            a.vote-btn(href="/upvote/#{feature._id}" title="Vote for this feature") 
    div.u-1-5
      h4.category Reports
      -var counter = 0;
      for feature in features
        if feature.category == "Reports" && (counter < 6)
          -counter +=1;
          div.item
            a.vote-link(href="/upvote/#{feature._id}" title="Vote for this feature") #{feature.votes}
            a.update-link(href="/edit/#{feature._id}" title="Update this feature") #{feature.content}
            a.vote-btn(href="/upvote/#{feature._id}" title="Vote for this feature")
    div.u-1-5
      h4.category Themes
      -var counter = 0;
      for feature in features
        if feature.category == "Themes" && (counter < 6)
          -counter +=1;
          div.item
            a.vote-link(href="/upvote/#{feature._id}" title="Vote for this feature") #{feature.votes}
            a.update-link(href="/edit/#{feature._id}" title="Update this feature") #{feature.content}
            a.vote-btn(href="/upvote/#{feature._id}" title="Vote for this feature")
    div.u-1-5
      h4.category Other
      -var counter = 0;
      for feature in features
        if feature.category == "Other" && (counter < 6)
          -counter +=1;
          div.item
            a.vote-link(href="/upvote/#{feature._id}" title="Vote for this feature") #{feature.votes}
            a.update-link(href="/edit/#{feature._id}" title="Update this feature") #{feature.content}
            a.vote-btn(href="/upvote/#{feature._id}" title="Vote for this feature")
    
        
