extends layout

block body
  -var categories = ["General", "Forms", "Reports", "Themes", "Other", "Rules"];
  h1#page-title #{title}
  div.u-1.form-box
      div.l-box
        form.pure-form-pure-form-stacked(action="/create" method="post" accept-charset="utf-8")
          fieldset
            input(type="text" name="content" placeholder="Description")
            select(name="category")
              option(value="") Pick a Category
              each cat in categories
                option(value=cat) #{cat}
          button.pure-button.pure-button-primary(type='submit') Add a feature
  div.pure-g
    for cat in categories
      div.u-1-5
        h4.category #{cat}
        -var counter = 0;
        for feature in features
          if feature.category == cat
            -counter +=1;
            div.item
              a.vote-link(href="/upvote/#{feature._id}" title="Vote for this feature") #{feature.votes}
              a.update-link(href="/edit/#{feature._id}" title="Update this feature") #{feature.content}
              a.vote-btn(href="/upvote/#{feature._id}" title="Vote for this feature")